#loading.row
  .col-md-2.col-md-offset-5
    .windows8
      #wBall_1.wBall
        .wInnerBall
      #wBall_2.wBall
        .wInnerBall
      #wBall_3.wBall
        .wInnerBall
      #wBall_4.wBall
        .wInnerBall
      #wBall_5.wBall
        .wInnerBall

  .col-md-4.col-md-offset-4
    %p.lead
      Watching movies, taking names and counting Bacons...

#bacon-content.row
